*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.head {
  font-family: 'Noto Sans HK', sans-serif;
}

#camp-name {
  text-decoration: none;
  color:inherit;
}
#topHead {
  width:100%;
  background-image: url("images/mainMount.jpg");
  background-size:100% auto;
  background-repeat: no-repeat;
  height:300px;
}
#speakerHead {
  width:100%;
  background-image: url("images/speaker.jpg");
  background-size:100% auto;
  background-repeat: no-repeat;
  height:300px;
}
#aboutHead {
  width:100%;
  background-image: url("images/kids.jpg");
  background-size:100% auto;
  background-repeat: no-repeat;
  height:300px;
}
#contactHead {
  width:100%;
  background-image: url("images/campSign.jpg");
  background-size:100% auto;
  background-repeat: no-repeat;
  height:300px;
}

/*background color for web page*/
body{
  background-color: #EEE;
}

/*wrapper*/
.wrap{
    width:100%;
}

/* navigation bar*/
nav{
  height: 35px;
  margin: 0;
  padding-bottom: 10px;
}

/*font*/
@font-face {
  src:url(fonts/NotoSansHK-Regular);
  font-family: noto;
}

/*webpage title*/
h1 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-transform: uppercase;
  /*color: #AAAAAA; must be 6 letters and/or numbers*/
  color: #35682c;
  letter-spacing: 2px;
  /*word-spacing: 10px*/
  line-height: 40px;/* changes spacing between lines;*/
  width: 100%;
  padding: 20px 0px 0px 0px;
}
#nav-bar{
  width: 100%;
  height:40px;
}
/*unordered list for navigation bar*/
ul{
  font-family: 'Noto Sans HK', sans-serif;
  text-align: center;

}
ul li{
  list-style: none;
  display:inline-block;
}
ul li a{
  display:block;
  text-decoration: none;
  color: #1e1e1e;
  font-size: 17px;
  padding:0 4px;
}
ul li a:hover{
  color: #005511;
  border-bottom: 2px #005511 solid;
}
.info{
  width: 100%;
  text-align: justify;
}
  .info h2{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 30px 30px 20px;
  }
.link{
  font-family: 'Noto Sans HK', sans-serif;
  text-decoration: none;
}
.box{
  font-family: 'Noto Sans HK', sans-serif;
  width:80px;
  height: 25px;
  background-color: rgba(255, 255, 0, 0.5)
}
.info h3{
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: normal;
  font-weight: bold ;
  font-size: 18px;
  padding: 0px 30px 20px;
}
.info p{
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: normal;
  padding: 0px 30px 20px;
}

/*iPad
does when statment in brackets is true*/
@media only screen and (min-width: 768px){
  #topHead {
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height:350px;
    width: 100%;
  }
  #speakerHead {
    background-size:100% 1000px;
    background-repeat: no-repeat;
    background-position: center;
    height:350px;
    width: 100%;
  }

  #aboutHead {
    background-size:100% 1000px;
    background-repeat: no-repeat;
    background-position: center;
    height:350px;
    width: 100%;
  }

  #contactHead {
    background-size:100% 350px;
    background-repeat: no-repeat;
    background-position: center;
    height:350px;
    width: 100%;
  }
  h1{
    text-indent: 20px;
    text-align: left;
    letter-spacing: 5px;
  }
  nav{
    height: 25px;
  }
  ul li a{
    font-size: 20px;
    padding:0 20px;
  }
  ul{
    text-align: center;
  }
  .wrap{
    width: 600px;
    margin: 0 auto;
  }
  .info{
    width: 100%;
    text-align: justify;
  }
  .info h2{
    padding: 20px 0px 00px;
  }
  .info h3{
    padding: 20px 0px 0px;
  }
  .info p{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: normal;
    padding: 20px 0px 0px;
  }
}

/*PC*/
@media only screen and (min-width: 1000px){

  #topHead {
    background-size:100% 1300px;
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    width: 100%
  }
  #speakerHead {
    background-size:100% 500px;
    background-repeat: no-repeat;
    background-position: center;
    height:400px;
    width: 100%
  }
  #aboutHead {
    background-size:100% 700px;
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    width: 100%
  }

  #contactHead {
    background-size:100% 700px;
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    width: 100%
  }

  h1{
    text-indent: 20px;
    text-align: left;
    letter-spacing: 5px;
    font-size: 180%
  }
  nav{
    height: 25px;
  }

  ul li a{
    font-size: 150%;
    padding:0 20px;
  }
  ul{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
  }
  .wrap{
    font-family: 'Noto Sans HK', sans-serif;
    line-height: normal;
    margin:0 auto 0 auto;
    width: 50%;
  }
  .info{
    width: 100%;
    text-align: justify;
  }
  .info h2{
    padding: 20px 10px 10px;
  }
  .info h3{
    padding: 20px 10px 10px;
  }
  .info p{
    padding: 20px 10px 10px;
  }
}
